{% extends 'layout/layout.html' %}
{% block titulo %} Inicio {% endblock titulo%}
{% block body%}
    {% load static %}

    <form class="formulario" method="POST" action="">
        {% csrf_token %}

        {% comment %} <div class="justify-content-center">
            <img style="width: 20em; height: 10rem;" src="{% static '/images/medico2.png' %}" alt="">
        </div> {% endcomment %}
        {% for field in formulario_registro %}
            {% comment %} <label style="color: white;">{{ field.label }} </label> {% endcomment %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="form-group align-items-center">
                        {{ field }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <button class="btn btn-primary col-4 boton-registrar" type="submit">Registrar</button>
    </form>

{% endblock %}
