<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Links de bootstrap y css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilo_registro.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/images/icono.png' %}" />
</head>

<body>
    <form class="formulario">
        <h1 class="text-center text-white">REGÍSTRATE</h1>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apellidos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Número de identificación">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de nacimiento">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Teléfono">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
            </div>
        </div>
        <button class="btn btn-primary col-4 boton-registrar" type="submit">Registrar</button>
    </form>
</body>

</html>