{% extends 'layout/layout.html' %}
{% block titulo %} {{ titulo }} {% endblock %}
{% block body%}
    {% load static %}
    
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static '/css/estilo_registro.css' %}"> {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static '/images/icono.png' %}" />
</head>

<body>
    <p style="color:red;">{{ formulario_registro.errors }}</p>

    <form class="formulario" method="POST" action="">

        <p><h5>Para iniciar el registro del paciente complete los campos del formulario que se presenta a continuación: <br></h5><br>
         </p>
        {% csrf_token %}

        {% comment %} <div class="justify-content-center">
            <img style="width: 20em; height: 10rem;" src="{% static '/images/medico2.png' %}" alt="">
        </div> {% endcomment %}
        {% for field in formulario_registro %}
            {% comment %} <label style="color: white;">{{ field.label }} </label> {% endcomment %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="form-group align-items-center">
                        {{ field }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="w-33">
            <div class="center">
                <button class="btn btn-primary col-4 boton-registrar" type="submit" style="center">Registrar</button>
         </div>
        </div>
        
    </form>

{% endblock %}
