

{% extends 'layout/layout.html' %}
{% block titulo %} {{ titulo }}{% endblock %}
{% block body%}

<div class="nav-menu">

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="">Solicitud de creación de Grupo Familiar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cambiar mi Médico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Historia clínica</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="#">salir</a>
        </li>
    </ul>
</div>

<p><h1>¡Bienvenido a Pravaz Hospital! </h1></p>

{% endblock %}
