

{% extends 'layout/layout.html' %}
{% block titulo %} {{ titulo }}{% endblock %}
{% block body%}
    {% load static %}
<div class="nav-menu">

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'grupoFamiliar' %}">Solicitud de creación de Grupo Familiar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cambioMedico' %}">Cambiar mi Médico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'historiaClinica' %}">Historia clínica</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="{% url 'index' %}">salir</a>
        </li>
    </ul>
</div>

<h3 class="text-center">Reportar Sintomas</h3>
<form class="formulario" method="POST" action="">
    {% csrf_token %}
    {% for field in formulario_reporte %}
    
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group align-items-center">
                {{ field }}
            </div>
        </div>
    </div>
    
    {% endfor %}
    <div class="boton-guardar">
        <input type="submit" value="Reportar" class="btn btn-primary boton-g">
    </div>
    
</form>

{% endblock %}
