body{
    background-color: #EBF5FB ;
    font-family: 'PT Serif', serif;
}

.carousel {
   padding: 3%! important; 
  }

  .navbar #imglogo{
    margin-left: 180%! important;
  }

  .footer{
      background-color: black;
  }

  .cards{
    padding: 10%! important; 
  }