body{
    background-color: #EBF5FB ;
    font-family: 'PT Serif', serif;
}

.carousel {
   padding: 3%! important; 
  }

  .navbar #imglogo{
    margin-left: 180%! important;
  }

  .footer{
      background-color: black;
  }

  .cards{
    padding: 6%! important; 
 
  }

  .content{
      
    padding: 5%! important; 
  }

  h1{
    font-size: 40px;
    text-align: center;
    padding: 2%! important; 
    font-family: 'PT Serif', serif;
  }

  h5{
    font-size: 20PX;
    text-align: center;
    padding: 2%! important; 
    font-family: 'PT Serif', serif;
  }

  .formulario{
    padding: 6%! important; 
  }

  div.w-33 {
    width: 100%;
    background-color:#EBF5FB ;
  }
  
  div.center {
    text-align: center;
  }
.user-img img{
  width: 50%;
}
