body{
    background-color: #EBF5FB ;
    font-family: 'PT Serif', serif;
}

.carousel {
   padding: 3%! important; 
  }

  .navbar #imglogo{
    margin-left: 180%! important;
  }

  .footer{
      background-color: black;
  }

  .cards{
    padding: 6%! important; 
 
  }

  .content{
      
    padding: 5%! important; 
  }

  h1{
    font-size: 40PX;
    text-align: center;
    padding: 2%! important; 
  }

.user-img img{
  width: 50%;
}